<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    		<!-- 합쳐지고 최소화된 최신 CSS -->
    		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    		<!-- 부가적인 테마 -->
    		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="../js/ngClipboard.js"></script>
    <script src="script.js"></script>



  </head>

  <body ng-app = "testApp" ng-controller = "testController as vm">
    <div class="col-md-6" id='div_list'>
      <form class="w3-container" id="div_input" name="div_input">




    <button class="w3-btn w3-blue w3-ripple" ng-click="sample(0)">Copy 0</button>
    <hr>
    <button class="w3-btn w3-blue w3-ripple" ng-click="sample(1)">Copy 1</button>
    <hr>
    <button class="w3-btn w3-blue w3-ripple" ng-click="sample(2)">Copy 2</button>
    <hr>
    <label>URL STR:</label>
    <input class="w3-input w3-border" type="text" ng-model="model" ng-disabled="!check_save" placeholder="회사이름">
    <br>
    <a href="{{url}}" >{{url}}</a>

    <hr>

    </form>
          </div>

  </body>

</html>
