<!DOCTYPE html>
<html lang="en">
<head>
<title>COMPANY PAGE</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
<script 		src="js/util.js" type="text/javascript"></script>
<script 		src="js/giant_admin.js" type="text/javascript"></script>
<!-- <div ng-app="myApp" ng-controller="customersCtrl"> -->
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>

<body ng-app="myApp" ng-controller="userCtrl">
	<script type="text/javascript">

  // var app = angular.module('myApp', []);
  //
  // app.controller('customersCtrl', function($scope, $http) {
  //     $http.get("customers.php")
  //     .then(function (response) {$scope.names = response.data.records;});
  // });

		$(function() {
      console.log('ready 2');
      			$('#factory_key_id_select').each(
      				function () {
      						//console.log(this);
      				});

              $('.select_comp').each(
        				function (i) {
        						console.log(this);
        				});
      				//console.log($('.container'));
      				console.log($('#factory_key_id_select'));
              console.log($('.select_comp'));
      console.log('ready 2 end');

      $('.factory_key_id_option').click(
          function() {
              console.log(this.id);

          });





		});



	</script>


  <div class="w3-container">

  <h3>Chips</h3>

  <table class="w3-table w3-bordered w3-striped">
    <tr>
      <!-- <th>Edit</th> -->
      <th>SN</th>
      <th>Master Key UID</th>
    </tr>
    <tr ng-repeat="(key,chip) in chips">
      <td>
        <button class="w3-btn w3-ripple" ng-click="editUser(key)">&#9998; {{ chip.sn }}</button>
      </td>
      <!-- <td>{{ chip.sn }}</td> -->
      <td>{{ chip.version }}</td>
    </tr>
  </table>
  <br>
  <button class="w3-btn w3-green w3-ripple" ng-click="editUser('new')">&#9998; Insert New CHIP</button>

  <form ng-hide="hideform">
    <h3 ng-show="edit">Create New User:</h3>
    <h3 ng-hide="edit">Edit User:</h3>
      <label>SN:</label>
      <input class="w3-input w3-border" type="text" ng-model="sn" ng-disabled="!edit" placeholder="SN">
    <br>
      <label>chp_uid:</label>
      <input class="w3-input w3-border" type="text" ng-model="chp_uid" ng-disabled="!edit" placeholder="chp_uid">
    <br>
        <label>msk_uid:</label>
        <input class="w3-input w3-border" type="text" ng-model="msk_uid" placeholder="msk_uid">

    <br>
    <button class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete">&#10004; Save Changes</button>
  </form>


  <br>
  <h3>Master Keys</h3>
  <table class="w3-table w3-bordered w3-striped">
    <tr>
      <th>Edit</th>
      <th>SN</th>
      <th>Master Key UID</th>
    </tr>
    <tr ng-repeat="(key,master_key) in master_keys">
      <td>
        <button class="w3-btn w3-ripple" ng-click="showEditContainer(key)">&#9998; Edit</button>
      </td>
      <td>{{ master_key.version }}</td>
      <td>{{ master_key.key_value }}</td>
    </tr>
  </table>

  <button class="w3-btn w3-green w3-ripple" ng-click="showEditContainer('new')">&#9998; Insert New MasterKey</button>
  <br>
  <form ng-hide="hideform">
    <h3 ng-show="edit">Create New User:</h3>
    <h3 ng-hide="edit">Edit User:</h3>
      <label>SN:</label>
      <input class="w3-input w3-border" type="text" ng-model="sn" ng-disabled="!edit" placeholder="SN">
    <br>
      <label>chp_uid:</label>
      <input class="w3-input w3-border" type="text" ng-model="chp_uid" ng-disabled="!edit" placeholder="chp_uid">
    <br>
        <label>msk_uid:</label>
        <input class="w3-input w3-border" type="text" ng-model="msk_uid" placeholder="msk_uid">

    <br>
    <button class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete">&#10004; Save Changes</button>
  </form>


  </div>



</body>
</html>
